In [13]:
Name="Himanshu Thakur"
Roll_No="9165"

In [14]:
# List
A=['Himanshu Vitthal Thakur','Age 20','TYBSc']
B=['SP College Pune','Autonomus','Sadashiv Peth']
print(type(A))
print(A)
print(type(B))
print(B)

<class 'list'>
['Himanshu Vitthal Thakur', 'Age 20', 'TYBSc']
<class 'list'>
['SP College Pune', 'Autonomus', 'Sadashiv Peth']

In [15]:
# Tuple : Tuple is not changeable
a=('Himanshu Vitthal Thakur','Age 20','TYBSc')
b=('SP College Pune','Autonomus','Sadashiv Peth')
print(type(a))
print(a)
print(type(b))
print(b)

<class 'tuple'>
('Himanshu Vitthal Thakur', 'Age 20', 'TYBSc')
<class 'tuple'>
('SP College Pune', 'Autonomus', 'Sadashiv Peth')

In [16]:
print(A[0:2])
print(B[1:2])
print(a[1])
print(b[2])

['Himanshu Vitthal Thakur', 'Age 20']
['Autonomus']
Age 20
Sadashiv Peth

In [17]:
# append()
A.append('Statistics')
print(A)
B.append('Pune')
print(B)
# Tuple is not changeable

['Himanshu Vitthal Thakur', 'Age 20', 'TYBSc', 'Statistics']
['SP College Pune', 'Autonomus', 'Sadashiv Peth', 'Pune']

In [18]:
#copy()
A1=A.copy()
print(A1)
B1=B.copy()
print(B)
# Tuple cannot be copied

['Himanshu Vitthal Thakur', 'Age 20', 'TYBSc', 'Statistics']
['SP College Pune', 'Autonomus', 'Sadashiv Peth', 'Pune']

In [19]:
# count()
A2=A.count('Statistics')
B2=B.count('Pune')
print(A2)
print(B2)

1
1

In [20]:
# Extend
A.extend(B) 
print(A)

['Himanshu Vitthal Thakur', 'Age 20', 'TYBSc', 'Statistics', 'SP College Pune', 'Autonomus', 'Sadashiv Peth', 'Pune']

In [21]:
# index
AI=A.index('Statistics')
print(AI)
BI=B.index('Autonomus')
print(BI)

3
1

In [22]:
# Sort()
A.sort()
B.sort()
print(A)
print(B)

['Age 20', 'Autonomus', 'Himanshu Vitthal Thakur', 'Pune', 'SP College Pune', 'Sadashiv Peth', 'Statistics', 'TYBSc']
['Autonomus', 'Pune', 'SP College Pune', 'Sadashiv Peth']

In [23]:
# Insert
A.insert(2,'Height 163')
print(A)

['Age 20', 'Autonomus', 'Height 163', 'Himanshu Vitthal Thakur', 'Pune', 'SP College Pune', 'Sadashiv Peth', 'Statistics', 'TYBSc']

In [24]:
# Delete
del A