In [31]:
Name="Himanshu Thakur"
Roll No="9165"

4 collection Data types
-lists
-tuples
-sets

In [18]:
b='abc'
c='cdf'
a=["nick",'efg']
print(type(a))
print(a)
print(type(b))
print(b)

<class 'list'>
['nick', 'efg']
<class 'str'>
abc

In [19]:
AA=['A','B','C','D','E','F','G']
print(AA)
print(type(AA))
print("2 to 5",AA[2:5])
print(AA[2:])
print(AA[:4])

['A', 'B', 'C', 'D', 'E', 'F', 'G']
<class 'list'>
2 to 5 ['C', 'D', 'E']
['C', 'D', 'E', 'F', 'G']
['A', 'B', 'C', 'D']

In [20]:
#append() :Adds an element to end of the list
AA
AA.append('H')
print(AA)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [21]:
#copy(): Copy of the list
AA
AA1=AA.copy()
print(AA1)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [22]:
#count(): Returns no of element with specified value 
AA.append("A")    # by append() we add element 'A' so in count function it gives +1 value (or whenever we run code it added +1)
C=AA.count('A')
print(C)

2

In [23]:
# del : Delete the list
del AA

In [30]:
# extend() : Add elements of a list 
# to end of current list 
AA=['A','B','C','D','E','F','G']
Cars=["ford","MG","BMW"] 
DD=AA.extend(Cars)
print(AA)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'ford', 'MG', 'BMW']

In [ ]:
# index(): returs index of the first element