In [59]:
x="Himanshu"
print('My name is',x)

My name is Himanshu

In [60]:
y="ABCD"
def h2():
  #globle y
  A="Himanshu"
  print(y)
  print("My name is",A)
  h2()

y is globle variable it can also use out side the function
A in function variable it cannot use out side the function

In [61]:
def f3():
  B="Himanshu"
  print("My Name Is",B)
  f3()

In [62]:
x=1
complex(x)

(1+0j)

int= integer ,
complex ,
str= string

In [63]:
x,y,z=5,"Good Day","globle"
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

5
<class 'int'>
Good Day
<class 'str'>
globle
<class 'str'>

In [64]:
"in"+"dex"

'index'

In [65]:
"in"+" "+"dex"

'in dex'

In [66]:
a=input()
a

25

'25'

input() use as a promt window we have to type any value in it

In [75]:
a=2.3 #int
b=312 #float
c=3.7 #int
print(complex(a,b))
print(int(a))
print(int(c))
print(float(b))

(2.3+312j)
2
3
312.0

converting values , but can't convert complex into integer

In [82]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [83]:
a="Hey , how are you ? from where there"
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("O","J"))
print(a.split("O"))

Hey , how are you ? from where there
hey , how are you ? from where there
HEY , HOW ARE YOU ? FROM WHERE THERE
Hey , how are you ? from where there
['Hey , how are you ? from where there']

In [84]:
age=20
text="I'm {} year old"
print(text.format(age))

I'm 20 year old

In [86]:
age=input()
text="I'm {} year old"
print(text.format(age))

23
I'm 23 year old

use variabe + ".format"

In [98]:
name=input("Enter Name ",)
age=input("Enter Age ",)
Class=input("Enter Class ",)
clg=input("Enter College Name ",)
"My name is {a} I'm {b} year old I'm in {c} my College is {d}".format(a=name,b=age,c=Class,d=clg)

Enter Name Himanshu
Enter Age 20
Enter Class TY
Enter College Name SPC

"My name is Himanshu I'm 20 year old I'm in TY my College is SPC"

In [101]:
quantity=3
item="Bread"
price=5
Country="Indian"
myorder="I want {c} pieces of {b} for {d} rupees,Rupees is {a} currancy"
print(myorder.format(b=item,c=quantity,a=Country,d=price))

I want 3 pieces of Bread for 5 rupees,Rupees is Indian currancy